<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h1>NAIROBI CITY COUNTY GOVERNMENT AND OPERATIONS</h1>
        <p>The Nairobi City County is the creation of the Constitution of Kenya 2010 and successor of the defunct City Council of Nairobi. It operates under the auspices of the Cities and Urban Areas Act, The Devolved Governments Act and a host of other Acts.</p>
        <p>The Nairobi City County is charged with the responsibility of providing a variety of services to residents within its area of jurisdiction. These include the services that were hitherto provided by the defunct City Council and the ones that have been transferred from the national government.</p>
        <p>The former include Physical Planning, Public Health, Social Services and Housing, Primary Education Infrastructure, Inspectorate Services, Public Works, Environment Management while the latter include Agriculture, Livestock Development and Fisheries, Trade, Industrialization, Corporate Development, Tourism and Wildlife, Public Service Management.</p>
        <p>The Nairobi City County, in execution of responsibilities and functions bestowed upon it by the above Acts has been divided into three arms as follows:</p>
        <ul>
            <li>The Executive led by The Governor</li>
            <li>The Legislative Arm or the County Assembly headed by The Speaker</li>
            <li>Policy implementation and coordination arm whose team leader is the County Secretary and Head of County Public Service</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <ul>
            <li>Education, youth affairs, culture, children and social services sector</li>
            <li>health services sector</li>
            <li>public service management sector</li>
            <li>lands, housing and physical planning sector</li>
            <li>trade, industrialization, cooperative development, tourism and wildlife sector</li>
            <li>water, energy, forestry, environment and natural resources sector</li>
            <li>finance and economic planning sector</li>
            <li>agriculture, livestock and development fisheries sector</li>
            <li>county secretary and head of county public service</li>
            <li>county assembly</li>
        </ul>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>EXECUTIVE ARM</h2>
        <p>Led by The Governor and The Deputy Governor, The Executive arm of the County is charged with the responsibility of formulation of policy. Within this arm we have the County Public Service Board, the County Executive Committee, the City Inspectorate, County Investigations and Information Analysis departments and a host of advisories.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>THE COUNTY PUBLIC SERVICE BOARD</h2>
        <p>The County Public Service Board is appointed by the Governor and is responsible for the determination of the county Human Resource needs recruitment and related Public Service functions. The board is under the charge of the chairman supported by various committee members.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>THE COUNTY EXECUTIVE COMMITTEE</h2>
        <p>The County Executive Committee, appointed by HE the governor, comprises ten members and is the highest policy making organ of the county. Each County Executive Committee Member is responsible for a sector of County operations namely:</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>EDUCATION, YOUTH AFFAIRS, CULTURE, CHILDREN AND SOCIAL SERVICES SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas;</p>
        <p>Casinos and other forms of gambling</p>
        <ul>
            <li>Racing</li>
            <li>Cinemas</li>
            <li>Video shows and hiring</li>
            <li>Libraries</li>
            <li>Museums</li>
            <li>Sports, cultural activities and facilities</li>
            <li>Community, Social Development, and Welfare</li>
            <li>County parks, open spaces and recreation Facilities</li>
            <li>Pre-primary education, village polytechnics, home craft centers and childcare facilities</li>
            <li>Primary education for the first 3 years only</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>HEALTH SERVICES SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas;</p>
        <ul>
            <li>County Health Facilities and Pharmacies</li>
            <li>Ambulance Services</li>
            <li>Promotion of Primary Health Care</li>
            <li>Licensing and Control of undertakings that sell food to the public</li>
            <li>Cemeteries, funeral parlors and crematoriums</li>
            <li>Liquor Licensing</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>PUBLIC SERVICE MANAGEMENT SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas</p>
        <ul>
            <li>Public Service Management and development policy</li>
            <li>Human Resource Development (staff training)</li>
            <li>Human Resource Management</li>
            <li>Organizational design and development (structure)</li>
            <li>Performance management and public service innovations</li>
            <li>Public service superannuation scheme</li>
            <li>Intergovernmental relations (diplomacy)&amp; protocol</li>
            <li>Reforms and governance</li>
            <li>Procurement services</li>
            <li>Legal services</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>

    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>LANDS, HOUSING AND PHYSICAL PLANNING SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas:</p>
        <ul>
            <li>Land Survey and Mapping</li>
            <li>Boundaries and Fencing</li>
            <li>Housing</li>
            <li>City Planning</li>
        </ul>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>TRADE, INDUSTRIALIZATION, COOPERATIVE DEVELOPMENT, TOURISM AND WILDLIFE SECTOR</h2>
        <p>This sector is responsible for policy formulation leadership in the following areas:</p>
        <ul>
            <li>Markets</li>
            <li>Trade licenses (exclusive regulation of profession)</li>
            <li>Fair trading practices</li>
            <li>Local tourism and wildlife management</li>
            <li>Cooperative societies</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>INFORMATION, COMMUNICATION AND E-GOVERNMENT SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas:</p>
        <ul>
            <li>County ICT policy</li>
            <li>County E-Government</li>
            <li>Dissemination of public information</li>
            <li>Development of county communications capacity and infrastructure</li>
            <li>Public participation</li>
            <li>County branding</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>

    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>WATER, ENERGY, FORESTRY, ENVIRONMENT AND NATURAL RESOURCES SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas:</p>
        <p>Implementation of national government policies on natural resources and environment including:</p>
        <ul>
            <li>Soil and water conservation</li>
            <li>Forestry</li>
            <li>Refuse removal, refuse dumps and solid waste disposal</li>
            <li>Water and sanitation policy (including sewerage)</li>
            <li>Nairobi City Water and Sewerage Company</li>
            <li>Electricity and gas reticulation</li>
            <li>Energy regulation</li>
        </ul>
    </div>
</div>


<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>FINANCE AND ECONOMIC PLANNING SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas:</p>
        <ul>
            <li>Economic, fiscal and monetary policies</li>
            <li>Investment policy in the county</li>
            <li>Budget co-ordination and control</li>
            <li>Bilateral and Multilateral Development and Financing</li>
            <li>County Revenue, expenditure and Borrowing</li>
            <li>MTEF and Budget monitoring</li>
            <li>County Debt Management</li>
            <li>Accounting Services</li>
            <li>Custodian of County Assets</li>
            <li>Divestiture of Public Enterprises</li>
            <li>Public, Private Partnership</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>AGRICULTURE, LIVESTOCK AND DEVELOPMENT FISHERIES SECTOR</h2>
        <p>This sector is responsible for policy formulation and leadership in the following areas:</p>
        <ul>
            <li>Crop and animal husbandry</li>
            <li>Livestock sale yards</li>
            <li>County abattoirs</li>
            <li>Plant and animal disease control and fisheries</li>
            <li>Animal control and welfare including licenses of dogs and facilities for the accommodation, care and burial of animals</li>
            <li>Veterinary services (excluding regulation of profession)</li>
            <p>The Nairobi City County, as can be seen from the foregoing, is a service provision outfit larger in structure than the defunct City Council of Nairobi. The former bears more functions and responsibilities than the latter some inherited from the Council and others transferred from the national government.</p>
        </ul>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>COUNTY SECRETARY AND HEAD OF COUNTY PUBLIC SERVICE</h2>
        <p>The arm is mandated with Policy implementation and coordination</p>
        <h2>COUNTY ASSEMBLY</h2>
        <p>It is the legislative arm of the County responsible for formulation of laws that are expected to regulate the conduct of activities in the county and to provide oversight. The legislature comprises of 85 elected and 42 nominated members of the county assembly who sit in the various committees of the county assembly.</p>
        <p>Legislation is conducted through committees where bills are presented culminating in the plenary assembly where the bills are concluded before being signed into law by the Governor.</p>
        <p>The Speaker is the head of the legislature and is expected to conduct all sittings of the county assembly, save for standing committee meetings.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>