<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h1>
            <strong>Dr. Evans Kidero, Governor, Nairobi City County</strong>
        </h1>
        <p>Born in Majengo- Nairobi, to a father who was a policeman, and a mother who was a homemaker, Dr. Evans Kidero grew up in a large extended family of 7 children, where he was the eldest. Dr. Evans Kidero attended primary school in Nairobi, and completed secondary school at Mangu High school where he was the Head Boy. Dr. Kidero went on to attend the University of Nairobi, where he graduated in 1983 with a Bachelor of Pharmacy degree and thereafter got his first job working as a pharmacist at Kenyatta National Hospital. He went on to obtain a Masters of Business Administration in 1990 at United States International University in Kenya. These qualifications, his personal abilities and the hand of God set him on the path for an illustrious career in corporate management.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/governor1.jpg" alt="Dr. Evans Kidero">
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/governor2.jpg" alt="Dr. Evans Kidero">
    </div>

    <div class="col-sm-12 col-md-6">
        <p>The highlights of this career include: 4 years at Warner Lambert, 12 years at SmithKline Beecham Healthcare International, 2 years at the helm of Nation Media Group, and (most recently) 10 years in the stewardship of Mumias Sugar Company. It is from Mumias that Dr. Kidero recently resigned to pursue a political career in Nairobi county governorship. From a 28-year career in the competitive corporate environment, Dr. Kidero has acquired leadership and management skills that make him a suitable candidate for a job that requires experience, competence and caring.</p>
        <p>Dr. Kidero&rsquo;s results speak for his competence, as he left a track record of business success at each of the organizations that he led. At Mumias, where he was the first ever Kenyan MD, he turned a run down, failing business into a resounding success. Today Mumias Sugar accounts for 60% of the country&rsquo;s sugar sales, and under his leadership, has diversified into a series of related businesses from the by-products of sugar manufacturing, including generation of electricity and sales of bottled water. Dr. Kidero&rsquo;s caring leadership style is evident in the welfare arrangements he put in place for the staff of these organizations, which has earned him loyalty from those whom he led over the years.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h2>Mr.&nbsp; &amp; Mrs. Kidero</h2>
        <p>
            </strong>Dr. Kidero is married to Dr. Susan Mboya-Kidero, who complements him with a passion for women&rsquo;s economic empowerment and the education of girls. Susan is the Director for Women&rsquo;s Economic Empowerment at Coca-Cola Eurasia and Africa, and also the founder of Zawadi Africa, a non-profit organization that obtains scholarships to enable academically gifted but financially disadvantaged girls to attend university mostly in the United States. The Kidero&rsquo;s are blessed with 3 children and 2 grandchildren.</p>
        <p>Dr. Kidero&rsquo;s own improbable story of success is what inspired him to run for Governor. Dr. Kidero believes that he owes his achievements to the excellent systems and services that were available to him growing up in Nairobi, but that are no longer available to the people of Nairobi. Although he came from very humble beginnings, he benefitted from the affordable and good quality education and healthcare that was available then, he grew up on safe and clean streets of Nairobi, and he was employed by a Government which, at the time, was able to provide job opportunities to the youth. Dr. Kidero would like to restore Nairobi to its former glory, and give all Nairobi residents the facilities and opportunities that they need for their families to progress and flourish.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>The job of a Governor is a management job that requires a deep understanding of the challenges facing someone growing up or living in Nairobi today. Dr. Kidero&rsquo;s own personal experience in overcoming the challenges of growing up in Nairobi with minimal resources, and his vast business experience make him an ideal first Governor of Nairobi County.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/governordeputy.jpg" alt="Dr. Evans Kidero">
    </div>
    <div class="col-sm-12 col-md-6">
        <h1>
            <strong>Jonathan Mueke, Deputy Governor - Nairobi City County</strong>
        </h1>
        <p>With an undergraduate degree in Computer Science and an MBA in Global IT and Entrepreneurship, Jonathan Mueke brings to the top leadership of the Nairobi County youthfulness, technology know how, entrepreneurial and transformative leadership skills; just what Nairobi needs to face the challenges of youth unemployment, inefficiency and change management.</p>
    </div>
</div>