<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <h1>History of Nairobi</h1>
        <p>Nairobi is the capital and largest city of Kenya. The city and its surrounding area also form the Nairobi County. The name "Nairobi" comes from the Maasai phrase &lsquo;Enkare Nyrobi&rsquo;, which translates to "cool water.</p>
        <p>The area Nairobi currently occupies was essentially uninhabited swamp until a supply depot of the Uganda Railway was built by the British in 1899 linking Mombasa to Uganda. The location of the camp was chosen due to its central position between Mombasa and Kampala. It was also chosen because its network of rivers could supply the camp with water and its elevation would make it cool enough for residential purposes for not only the thousands of Indian laborers who came to Kenya seeking to be employed to work on the railway line, but also for the British settlers. &nbsp;With such an apt location, it had soon grown big enough to become the railway's headquarters.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p>The Ngong hills from Nairobi in the early 1900&prime;s</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p>(Biashara street) in 1906</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>The city was first incorporated in 1900 as the Township of Nairobi. The regulations governing it were published on the 16th April, 1900 under the powers vested in Sir Arthur Hardinge, H M Commissioner at Zanzibar by Article 45 of the East Africa Order-in-Council. The regulations defined the township of Nairobi as &ldquo;the area comprised within a radius of one-mile-and-a-half from the present office of H.M.&nbsp; Sub-Commissioner in Ukamba" and authorized the Sub-Commissioner to nominate annually a number of the leading residents or merchants to act with him as a Committee.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <p>On 24th of July a Five Man Committee met in the Sub Commissioner&rsquo;s office to tackle the problem of the town ranging from:- a myriad of bazaars, no street lighting, unplanned shops going up daily, no proper streets, no conservancy, no refuse collection, no police and no money.</p>
        <p>The committee obtained its plans, marked out plots and roadways in the commercial area and sought Government's permission to cut wood for scantlings to build the new shops and other necessary establishments.</p>
        <p>The Nairobi Club was formed in January in 1901 and a racecourse came up at about the same time. There was only one school at the time but the Roman Catholics were busy with the construction of a church and a school beside the railway line. In December of 1901 the committee was given the rights to make new by-laws &ldquo;for the preservation of the public health and good order within the township&rdquo; and prescribing penalties for breach of their observance.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p>The Indian bazaar in Nairobi pictured around the late 1890s.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>By 1903 the use of the railway as a medium of exporting produce as well as importing equipment had become noticeable, and there was some talk of finding permanent markets in South Africa. Nairobi was growing at a fast pace and new people arrived with every ship that docked at Mombasa. There was a little post-office halfway down Government Road, near the new municipal offices, which had been opened the previous year, these offices were grandly known as &ldquo;Town Hall.&rdquo;</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <p>They proposed to have the Bazaar properly laid out and have the buildings assessed to enable a rate of taxation to be fixed, funds procured would go towards forming a police force, a system of street lighting and conservancy purposes. Nairobi continued to flourish as there was an impressive array of commerce and growth at the Bazaar as hotels, banks and Trading Centers were established. National Bank of India was the first to be established, next was Heubner &amp; Company.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p>Two Kikuyu women deep in conversation (Bazaar Street)</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>In 1905, Nairobi replaced Mombasa as capital of the British protectorate, and the city grew around administration and tourism, initially in the form of big game hunting. As the British occupiers started to explore the region, they started using Nairobi as their first port of call. They were encouraged to settle in the country, and Nairobi was their natural choice due to its cool climate and fertile soils. British authorities hoped the Settlers would develop a modern economic sector.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <p>In 1919, the Nairobi Township community formally became the Nairobi Municipal Council. Its boundary was extended to include surrounding part-urban settlements. The boundary was again extended in 1927 to cover 30 square miles.</p>
        <p>In July 1920 it was proposed that a more distinctive title be adopted for the chief of the municipality of Nairobi the capital of the protectorate. The title Mayor was suggested. It was not until 1923 that the title was officially applied.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p>A mounted police constable</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>In the early years the growth of the Town had been controlled only by economic forces with no coordination of development. In an attempt to order the situation, a Town Planning Consultant was appointed in 1926.</p>
        <p>Jacaranda Jim Jameson from Kimberly also submitted his town planning report in 1926; he had a great quickness for planting Jacaranda trees for the beautification of the town.</p>
        <p>With the expansion and rapid growth of African wage earners there arose the problem of housing them. This was tackled as energetically as strained wartime resources would allow. Ziwani was a Municipal Housing experiment; Starehe, a Government Staff Housing venture and finally Kaloleni.</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <p>The development of Local Government in the Town was determined by racial considerations. Thus membership in the Town Council was dominated by Europeans, followed by Asians. It was not until July 1946, that the first African Councilors, Muchohi Gikonyo and Khamisi took their seats. It was as the Mayor remarked an historic occasion in East African Local Government.</p>
        <p>In April of the same year, the Council&rsquo;s attention had been directed to the fact that in 1950 Local government in Nairobi would be fifty years old. The council gave some thought to the form that suitable celebrations might take and it was suggested by Alderman Vasey that the town should seek the status of a City.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <p>In due course a petition was addressed to His Majesty the King. The Council was anxious that a Royal Charter of incorporation should be granted. Shortly afterwards His Excellency Sir Philip Mitchel the Governor announced that the King had been graciously pleased to consent to the Council&rsquo;s request and that His Royal Highness the Duke of Gloucester, would be charged by His Majesty to present the letters patent in person. He indicated that the Kenya Government would present a mace to Nairobi and basic design was prepared by a member of the Council staff.</p>
        <p>Now the task of arranging the charter ceremonies began in earnest. It was decide to address a memo to the Earl Marshall, seeking the grant of new Arms to the City to be, for a badge or roundel what had been in use since 1923 but had never been formally submitted to the College of Arms.</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>

    <div class="col-sm-12 col-md-6">
        <p>The golden-crested cranes of the old roundel were retained as supporters in the new Armorial bearings. The motto remained the same, while the Maasai shield was incorporated in the crest. On it also, was a golden lion symbolizing the peace bringing character of British rule. The central shield was a new addition. It lay on a field quartered green and gold to represent the mineral and agricultural wealth of the Kenyan colony. The central motif in the form of a heraldic fountain, was in commemoration of the swamp that once inundated the Nairobi area and from which it received its Maasai name &lsquo;the place of the cool waters&rsquo;.</p>
        <p>In March 1950, Nairobi Municipality became a City by the Royal Charter of Incorporation,</p>
    </div>
</div>




<p>Most railway workers lived in tents as seen from the picture below.</p>
<p><strong>Nairobi Railway Station early 1900&rsquo;s</strong></p>
<p>Government buildings in 1906.</p>
<p>One of Nairobi&rsquo;s first general stores located on Victoria Street.</p>
<p>One of the first motorized taxis to operate in the streets of Nairobi</p>
<p>Government road (Now Moi Avenue) in the direction of the railway station (1900&prime;s)</p>
<p>Government road in 1927</p>
<p>The first Stanley hotel opened on Victoria Street.</p>
<p>Building of the new Stanley hotel in 1912</p>
