<div class="col-xs-12">
    <div class="col-sm-12 col-md-6">
        <img class="img-responsive" src="themes/fitiimage/images/about_nairobi/002.jpg">
        <p class="caption">Kimathi Street</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <h1>FAQs and Help Desks</h1>
        <h2>Key Service Points</h2>
        <p>Who to Contact and where to find them, for the below mentioned permits, Licenses and Services:</p>
        <p>1. Hire of Grounds and Parks - Assistant Director Environment -City Hall Annex 6th floor, Room 7.</p>
        <p>2. Tree Cutting - Assistant Director Environment -City Hall Annex 6th floor, Room 7.</p>
        <p>3. Fire Inspection - Chief Fire Officer &ndash; Nairobi Fire Station located along Tom Mboya Street.</p>
        <p>4. Survey Fees - Chief Lands Surveyor - City Planning Department, City Hall 2nd floor.</p>
        <p>5. Parking tickets/clamping impounding and towing - Chief Accountant, Car Park &ndash; City Hall Ground Floor Room 40.</p>
        <p>6. Rates - Chief Accountant Rates &ndash; City Hall Ground Floor.</p>
        <p>7. Hire of Charter Hall, Conference Hall and Garden Spaces - City Hall Superintendent &ndash; City Hall 1st Floor, Room 175</p>
        <p>8. Single Business Permits - Chief Licensing Officer &ndash; City Hall Annex Mezzanine Floor</p>
        <p>9. Plans and Inspection - Assistant Director, Development Control &ndash; City Hall Annex 1st Floor</p>
        <p>10. Billboards and Adverts - Assistant Director, Urban Design &amp; Development &ndash; City Hall Annex 4th Floor</p>
        <p>11. Building Occupation Certificates &ndash; Assistant Director, Enforcement Department &ndash; City Hall Annex 2nd Floor.</p>
        <p>12. City Mortuary/ Burial at Langata Cemetery -&nbsp;&nbsp; Funeral Superintendent- City Mortuary, Ngong Road.</p>
        <p>13. Pumwani - Pumwani Medical Superintendent - Pumwani Maternity</p>
        <p>14. Ambulance Fees - Supervisor &ndash; Fire Station -Tom Mboya Street</p>
        <p>15. Birth and Death Certificates - Assistant Medical Officer of Health - City Hall 3rd Floor Room 322</p>
        <p>16. Inoculation - Assistant Medical Officer of Health - City Hall Ground Floor Room 45</p>
        <p>17. Food Hygiene/Medical Certificates - Supervisor &ndash; City Hall 3rd Floor Room 345</p>
        <p>18. City Stadium - Chief Sports Officer - City Stadium, Jogoo Road.</p>
        <p>19. Library - Chief Librarian-McMillan Library Upperhill.</p>
        <p>20. Social Halls - Senior Welfare Officer - Makadara Council Offices.</p>
        <p>21. Markets - Senior Market Superintendent, City Hall Annex 11th Floor</p>
        <p>22. Housing - Chief Housing Officer, City Hall Annex 11th Floor</p>
        <p>23. Rent - Chief Accountant Rent, City Hall Ground Floor.</p>
        <p>24. Dog Licenses - Superintendent - City Council Office, Pangani</p>
        <p>25. City Inspectorate Training Schools - Commandant &ndash; Dagoretti Corner</p>

    </div>
</div>