html, body.GalleryPage, .page-content.pale-grey-bg, .container-fluid.content, .gallery-container{
	background: black;
	height: 100%;
	width: 100%;
}

.gallery-container{
	margin: 1% 0;
	width: 100%;
}

.gallery-container > div{
	padding: 0;
	margin: 0;
	/*background: black*/
}

.gallery-container div img{
	width: 100%;
	height: 100%;
}

.vertical-align{
	vertical-align: middle;
}

.fancybox-close {
    top: 3%;
    right: 3%;
}

/*.fancybox-nav {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	*/transform: scale(1.4);
}