@charset"utf-8";

/*_______________________________________________________

GLOBAL ATTRIBUTES
__________________________________________________________*/
 .fitimage h1 {
    font-weight: 700;
    font-size: 3em;
    color: #1B1B1B;
    margin-bottom: 0.7em;
    text-transform: uppercase;
    max-width: 5em;
    line-height: 0.73em;
    letter-spacing: -0.12em;
    text-align: left;
    font-style: normal;
    font-family: QuattrocentoSans_Bold;
}
.fitimage h1 a {
    background-color: #28579d;
    color: white;
    display: block;
    width: 10em;
    font-size: 0.em;
    font-size: 0.5em;
    letter-spacing: -2pt;
    line-height: 19.9pt;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-weight: normal;
    float: right;
    margin-top: -18px;
    margin-bottom: 43px;
}
.fitimage h1 a i {
    color: #28579d;
    margin-left: 14.5em;
    font-size: 0.5em;
    background-color: #fff;
    padding-right: 12px;
    padding-left: 10px;
    font-weight: normal;
}
.fitimage h1 a img {
    width: 3em;
    height: auto;
    margin-left: 7em;
    margin-top: -1.5em;
    margin-bottom: -1.2em;
}
.fitimage h2 {
    font-weight: normal;
    font-size: 1.5em;
    text-transform: lowercase;
    letter-spacing: 0.01em;
    color: #FFDE00;
    background-color: #1B1B1B;
    margin-bottom: 1em;
    padding: 0.2em 0.3em;
    /*display: inline;*/
}
.fitimage h3 {
    font-size: 3em;
    font-weight: normal;
    color: #A8A8A8;
    max-width: 12em;
    font-weight: normal;
    font-size: 2.4.em;
    text-transform: lowercase;
    margin-top: 0em;
    color: #FFFFFF;
    background-color: #1B1B1B;
    padding-left: 0.3em;
    font-size: 1.8em;
    display: inline;
    padding-right: 0.3em;
    letter-spacing: 0.04em;
    padding-bottom: 0.3em;
}
.fitimage h4 {
    background-color: #FFDE00;
    color: rgba(0, 66, 28, 1.00);
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}
.fitimage em {
    /*font-size: 1.5em;*/
    color: #1B1B1B;
    line-height: 1.2em;
    font-style: italic;
}
.fitimage p {
    font-size: 0.65em;
    color: #232323;
}
.fitimage ul {
    text-align: left;
    width: 100%;
    margin: auto;
    /*margin-left: 1em;*/
}
.fitimage ol + ul {
    text-align: left;
    width: 100%;
    margin: auto;
    margin-left: 1em;
}
.fitimage ul li {
    width: 13em;
    background-color: #FFDE00;
    padding-right: 1em;
    padding-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #1B1B1B;
    list-style-type: none;
    margin-right: 2em;
    margin-bottom: 1.5em;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    min-height: 4em;
    position: relative;
    vertical-align: top;
    margin-left: -2em;
    font-size: 0.8em;
}
.fitimage ul li:before {
    content:"";
    background: tranparent;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid white;
    border-bottom: 8px solid transparent;
    margin-top: 10%;
}
.fitimage ul li a, .fitimage ul li p {
    display: inline-block;
    text-decoration: none;
    color: #1B1B1B;
    font-size: 0.8em;
    font-weight: bolder;
    line-height: 0.95em;
    margin-top: 0;
    padding-left: 7em;
    padding-bottom: 47px;
    max-height: 5.5em;
    background-image: url(../images/Icon_PH.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: scroll;
    background-position: 15px -25%;
    background-clip: padding-box;
    background-size: 75px;
    overflow-y: hidden;
}
.fitimage ul li p {
    text-transform: lowercase;
    overflow: visible;
}
/*.fitimage ul li small{
    font-size: 1em;
    text-transform: lowercase;
    font-weight: normal;
    padding-left: 2em;
    float: none;
    text-align: left;
}*/
 .fitimage ul li i {
    border-right-color: #1B1B1B;
    border-width: thin;
    border-right-style: solid;
    color: #FFFFFF;
}
.fitimage ol li {
    color: #7A7A7A;
    font-style: normal;
    font-size: 0.65em;
    width: 100%;
    text-transform: none;
    margin-top: 1em;
    margin-left: -2em;
    padding: 0.5em;
    list-style-type: none;
    background-color: #FFFFFF;
    border-left: 1em solid #00421C;
    box-shadow: 1px 1px 3px #C7C7C7;
    -webkit-box-shadow: 1px 1px 3px #C7C7C7;
}
.fitimage td {
    border: none;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #FFDE00;
    width: auto;
    border-radius: 7px;
    padding-right: 15px;
}
.fitimage tr p {
    font-size: 1em;
    color: #1B1B1B;
}
.fitimage tr {
    margin-bottom: 6px;
}
/*_______________________________________________

FITIMAGE CUSTOM CLASSES
_________________________________________________*/
 .fitimage .lead {
    color: #1B1B1B;
    text-align: left;
    font-size: 1em;
}
.fitimage img {
    position: relative;
}
.fitimage img + p {
    position: absolute;
    bottom: 5%;
    right: 0;
    background: #000;
    padding: 0.5em;
    opacity: 0.85;
    color: white;
}
/* ----- Kelvin's Services page edit --- 17|05|14 ----- */
 .fitimage .serv {
    margin-top: 1em;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
}
.fitimage .serv strong {
    font-size: 1em;
    color: rgba(0, 66, 28, 1.00);
    line-height: 31pt;
    padding-bottom: 5pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 0pt;
    padding-left: 0pt;
    display: inline;
    margin-left: 0pt;
    width: auto;
    margin-right: -38pt;
    padding-top: 5pt;
    border-bottom-style: solid;
}
.fitimage .serv em {
    font-size: 1.5em;
    color: #8E8E8E;
    line-height: 1.2em;
    font-style: normal;
    display: block;
    border-color: rgba(142, 142, 142, 1.00);
    border-top-width: thin;
    border-top-style: solid;
    margin-top: 2pt;
    padding-top: 3pt;
    text-transform: capitalize;
}
/*_____________________________________________________________

FITIMAGE CUSTOM IDS
_______________________________________________________________*/
 .fitimage ul #sector li {
    background-color:#00421C;
}
.fitimage ul #sector p {
    color: #FFDE00;
}
.fitimage #stats {
    list-style-type: none;
}
.fitimage #stats strong {
    font-size: 2em;
    color: #FFDE00;
}
/*_____________________________________________________________

MY MODES -- JHENE KNIGHTS
_______________________________________________________________*/

/*.SectionPage .fitimage > div[class*=col] {
    /*min-height: 400px;*/

}
.SectionPage .fitimage > div[class*=col]:after {
    content:"";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.SectionPage .fitimage > div[class*=col]:after {
    display: inline-block;
    height: 1%;
}
.col-ncc-wp {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/about_nairobi/ncc07.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/about_nairobi/ncc07.jpg);
    background-size: cover;
}
.fitimage .row > div[class*=col] {
    border-bottom: 1px solid #efefef;
    padding: 2em 0;
}
.fitimage .row > div[class*=col]:first-child {
    /*padding-top: 0;*/
}
.fitimage ul li a.education {
    background-image: url(../images/icons/04.png);
}
.fitimage ul li a.health {
    background-image: url(../images/icons/10.png);
}
.fitimage ul li a.public {
    background-image: url(../images/icons/12.png);
}
.fitimage ul li a.lands {
    background-image: url(../images/icons/09.png);
}
.fitimage ul li a.trade {
    background-image: url(../images/icons/06.png);
}
.fitimage ul li a.water {
    background-image: url(../images/icons/02.png);
}
.fitimage ul li a.finance {
    background-image: url(../images/icons/11.png);
}
.fitimage ul li a.agriculture {
    background-image: url(../images/icons/01.png);
}
.fitimage ul li a.county-secretary {
    background-image: url(../images/icons/03.png);
}
.fitimage ul li a.assembly {
    background-image: url(../images/icons/05.png);
}
/*SIDEBAR FIXED ON THE SIDE*/
 .menu-slidein-sidebar {
    position: fixed;
    top: 15%;
    right: -22em;
    width: 25em;
    overflow: scroll;
    margin-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    /*background-color: #1B1B1B;*/
}
.menu-slidein-sidebar:hover {
    right: -2em;
}
.menu-slidein-sidebar .menu {
    background-color: #1B1B1B;
}
.SN_anchors {
    background-color: #1B1B1B;
    margin-left: 2em;
    padding-left: 1em;
    margin-top: -11px;
    padding-top: 1em;
    max-height: 400px;
    overflow-y: scroll 
}
.SN_anchors a {
    border-top: thin solid rgba(120, 120, 120, 1.00);
    display:inline-block;
}