### SILVERSTRIPE START ###
RewriteEngine on
RewriteRule ^([^/\.]+).htm$ index.php?page=$1 [L]
RewriteCond %{REQUEST_URI} ^(.*)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !\.php$
	RewriteRule .* framework/main.php?url=%1&%{QUERY_STRING} [L]

