#div_parent_container {
    border-radius:7px;
    height:220px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    font-family: verdana;
    font-size: 9pt;
}
#div_navigation {
    border:1px dotted #7A8E15;
    height:12%;
    width:99.2%;
    text-align: center;
    font-weight:900;
    color: #7A8E15;
    border-radius:2px;
}
#div_wdays {
    /*border:1px dotted  #7A8E15;; */
    border-collapse: collapse;
    height:11%;
    width:99.5%;
    display: table;
    table-layout: fixed;
    font-weight: 700;
    color: #7A8E15;
}
#div_wdays span {
    display:table-cell;
    text-align:center;
    border-left:1px dotted #7A8E15;
    */
}
#div_wdays :last-child {
    border-right:1px dotted #7A8E15;
}
#div_mdays {
    /*border:1px dotted purple;*/
    height:77%;
    width:100%;
    border-radius:7px;
}
#div_mdays span {
    /*
	display:table-cell; 
    text-align:center;
    border:1px solid  #7A8E15;;
    
    padding:12px;
   	margin-bottom:40px;
    width:14%;
    height:20px;
    */
    border-radius:2px;
}
#tbl_mdays {
    width:100%;
    height:100%;
    border-collapse: collapse;
    border-radius:5px;
    border:1px dotted #7A8E15;
    ;
}
#tbl_mdays td {
    border:1px solid #d4d4d4;
    text-align:center;
    border-radius:5px;
}